In [8]:
#Importando as bibliotecas necess√°rias 
import pandas as pd
import numpy as pn 
from pandas_dq import dq_report, Fix_DQ

Imported pandas_dq (1.10). Always upgrade to get latest version.

In [6]:
df = pd.read_csv('customer_shopping_data.csv', sep = ',') #importando nossos dados como um df

In [17]:
df.head(10)

,invoice_no,customer_id,gender,age,category,quantity,price,payment_method,invoice_date,shopping_mall,invoce_date
0,I138884,C241288,Female,28,Clothing,5,1500.40,Credit Card,5/8/2022,Kanyon,2022-08-05
1,I317333,C111565,Male,21,Shoes,3,1800.51,Debit Card,12/12/2021,Forum Istanbul,2021-12-12
2,I127801,C266599,Male,20,Clothing,1,300.08,Cash,9/11/2021,Metrocity,2021-11-09
3,I173702,C988172,Female,66,Shoes,5,3000.85,Credit Card,16/05/2021,Metropol AVM,2021-05-16
4,I337046,C189076,Female,53,Books,4,60.60,Cash,24/10/2021,Kanyon,2021-10-24
5,I227836,C657758,Female,28,Clothing,5,1500.40,Credit Card,24/05/2022,Forum Istanbul,2022-05-24
6,I121056,C151197,Female,49,Cosmetics,1,40.66,Cash,13/03/2022,Istinye Park,2022-03-13
7,I293112,C176086,Female,32,Clothing,2,600.16,Credit Card,13/01/2021,Mall of Istanbul,2021-01-13
8,I293455,C159642,Male,69,Clothing,3,900.24,Credit Card,4/11/2021,Metrocity,2021-11-04
9,I326945,C283361,Female,60,Clothing,2,600.16,Credit Card,22/08/2021,Kanyon,2021-08-22

In [8]:
df['invoce_date'] = pd.to_datetime(df['invoice_date'],format='%d/%m/%Y', errors='coerce') #transformando do tipo object para data

In [18]:
df.info() #verificando informa√ß√µes b√°sicas, sendo assim n√£o h√° nenhum valor nulo
#Cada coluna possu√≠ 99457 registros
#os tipos das colunas est√£o corretas, n√£o h√° necessidade de transform√°-las em string(object)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99457 entries, 0 to 99456
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_no      99457 non-null  object
 1   customer_id     99457 non-null  object
 2   gender          99457 non-null  object
 3   age             99457 non-null  int64
 4   category        99457 non-null  object
 5   quantity        99457 non-null  int64
 6   price           99457 non-null  float64
 7   payment_method  99457 non-null  object
 8   invoice_date    99457 non-null  object
 9   shopping_mall   99457 non-null  object
 10  invoce_date     99457 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(7)
memory usage: 8.3+ MB

In [4]:
df.isnull().sum() #verificando valores nulos

invoice_no        0
customer_id       0
gender            0
age               0
category          0
quantity          0
price             0
payment_method    0
invoice_date      0
shopping_mall     0
dtype: int64

In [38]:
df.describe() #describe() apresenta um resumo estat√≠stico das colunas num√©ricas dos dados
#Os dados da coluna price h√° muitos outliers (valores extremos). Isso porque o desvi padr√£o est√° bastante alto
#outros dados est√£o normalizados, na Estat√≠stica falamos dados sim√©tricos, com dados distribu√≠dos igualmente em torno da m√©dia.
#iremos explorar mais em outro momento

                age      quantity         price
count  99457.000000  99457.000000  99457.000000
mean      43.427089      3.003429    689.256321
std       14.990054      1.413025    941.184567
min       18.000000      1.000000      5.230000
25%       30.000000      2.000000     45.450000
50%       43.000000      3.000000    203.300000
75%       56.000000      4.000000   1200.320000
max       69.000000      5.000000   5250.000000

Dq_Report fornece um conjunto de ferramentas para avalia√ß√£o da qualidade dos dados, que podem ser usadas para identificar e resolver problemas potenciais com conjuntos de dados. Isso pode ajudar a melhorar a qualidade da an√°lise de dados e garantir que os resultados sejam confi√°veis.

In [10]:
dq_report(dfnum, verbose=1) 
fdq = Fix_DQ()
data_transfomerd = fdq.fit_transform(dfnum)
#Como previsto, os valores das compras h√° muitos outliers, pelo fato de ser valores altos 
#nesse caso j√° sabemos que n√£o podemos usar a m√©dia, a melhor m√©trica deve ser a mediana para este caso

Alert: Dropping 97377 duplicate rows can sometimes cause column data types to change to object. Double-check!

Alert: Detecting 97377 duplicate rows...
Alert: Dropping 97377 duplicate rows can sometimes cause column data types to change to object. Double-check!

Por fim, os dados j√° est√£o tratados para o nosso fim.